<% include partials/header %>
<div style="text-align:center" class="container">
  <h1><%= post.title %></h1>
  <h5><%= post.year %></h5>
  <img src="<%= post.image %>">
  <p><%= post.plot %></p>
<a href="/movies/<%= post.id %>/edit">
  <button class="btn btn-primary">Edit This</button>
</a>
</div>

<div id="commentary">
<% for (var i = 0; i < post.comments.length; i++){  %>
  <ul>
    <li> <%= post.comments[i].text %> </li>
  </ul>
  <% } %>
</div>
<section id="comments">
  <form action="/movies/<%= post.id %>/comments" method="post">
  <h3>Leave a Comment</h3>
  <textarea id="discussion" class="form-control" rows="3" name="text"></textarea>
  <button id="save-button" class="btn btn-success" value="post">Save Post</button>
  </form>
</section>
